<div class="column row">
  <div class="medium-8 medium-offset-2 columns">
    <div ng-if="messages.error" role="alert" class="callout alert">
      <div ng-repeat="error in messages.error">{{error.msg}}</div>
    </div>
    <div ng-if="messages.success" role="alert" class="callout success">
      <div ng-repeat="success in messages.success">{{success.msg}}</div>
    </div>
    <form ng-submit="forgotPassword()">
      <h4>Esqueceu sua Senha</h4>

      <p>Digite seu e-mail abaixo para enviarmos as instruções de redefinição de senha.</p>

      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="Email" ng-model="user.email" autofocus>

      <button type="submit" class="button success">Redefinir Senha</button>
    </form>
  </div>
</div>
