<div class="column row">
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <div ng-if="messages.error" role="alert" class="callout alert">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>

      <form ng-submit="login()">
        <h4>Entrar</h4>

        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="E-mail" ng-model="user.email" autofocus>

        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Senha" ng-model="user.password">

        <p><a href="/forgot">Esqueceu sua senha?</a></p>

        <button type="submit" class="button">Entrar</button>
      </form>

      <div class="hr-title"><span>or</span></div>

      <div class="button-group">
      </div>

      <p>Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
    </div>
  </div>
</div>
