.main-logo {
  background-image: url('../img/clinica.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 0;
  width: 55px;
  height: 45px;
  margin-top: 5px;
  margin-left: 20px;
  box-sizing: border-box;
}

.top-bar .menu > li > a {
  background-color: #003957
}

.top-bar .menu > li > a.active {
  background-color: #a8c941;
}

.logo-inicial {
  text-align: center;
  margin-top: 160px;
  margin-top: 10rem;
}
